.hero__content {
    margin-top: 100px;
}

.hero__content h1 span {
    color: #03400C;
}

.order__btn {
    background: #297334;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.order__btn a {
    color: #F2F2F2;
    text-decoration: none;
}

.order__btn:hover {
    background: #03400C;
}